
@{
    ViewBag.Title = "AboutUs";
}
<link href="~/Content/MyStyles/AboutUs.css" rel="stylesheet" />
<div class="external-div">
    <div class="internal-div-1">
        <div class="box-1"><p class="heading">About Us</p></div>
        <div class="box-2">
            <p class="box-2-text">
                <br />
                Welcome to Resume Builder App, your go-to platform for creating professional resumes with ease. Our user-friendly interface and intuitive design make it simple for anyone to craft a standout resume. With a team of experts in career development and design, we strive to provide a seamless experience for our users.<br /><br />
            </p>

            <p class="box-2-text">
                Resume Builder App allows you to download your resume toyour  storage. Whether you're a recent graduate, an experienced professional, or making a career change, our app is designed to support your job search<br />
                <br />
            </p>

        </div>
    </div>
    <div class="internal-div-2">
        <div class="box-3"><img class="img-class" src="~/Images/aboutus.png" alt="image" /></div>
        <div class="box-4">
            <p class="box-4-text">ClaySys is primarily a technology company, and we have been at the forefront of Information Technology and Electronics for more than a decade. Our strengths are building cutting edge software and software products</p>
            <p class="box-4-text">
                Resume Builder App allows you to download your resume in multiple formats and share it directly via email or cloud storage. Whether you're a recent graduate, an experienced professional, or making a career change, our app is designed to support your job search.
            <p />
            <p class="box-4-text">
                Join thousands of satisfied users who have already discovered the power of Resume Builder App. Start building your resume today and unlock your career potential. Your dream job awaits, and it all starts with an exceptional resume.
            </p>
        </div>
    </div>

</div>


<script src="~/Scripts/MyScripts/PreventBrowserBack.js"></script>