body {
}


.external-div {
    width: 100vw;
    height: 80vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background-color: rgb(59, 101, 108);
   
}


.fieldset-class {
    width: 25vw;
    height: 50vh;
    display:flex;
    justify-content:space-around;
    align-items: center;
    // border: 1px solid pink;
    background-color: rgb(117, 107, 116);
}

.legend-class {
    font-family: Arial Black;
    color: black;
    font-size:x-large;
    //text-align:center;
      
}

.form-outer-div {
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 115, 153);
    border-radius: 2%;
    box-shadow: 5px 5px 8px rgb(0, 57, 77), 10px 10px 8px rgb(0, 37, 51), 15px 15px 8px rgb(0, 30, 40);
}




.field-outer-class {
    display: flex;
    // border: 2px solid green;
    flex-direction: column;
    height: 20%;
    width: 100%;
    // border: 1px solid maroon;
    border-radius: 5%;
    background-color: rgb(17, 82, 93);
}

.label-class {
    display:flex;
    align-items:center;
    height: 30%;
    width: 100%;
    color: white;
    // border:1px solid yellow;
}


.text-field-class {
    height: 40%;
    width: 100%;
    // border: 1% solid black;
}

.text-box {
    height: 100%;
    width: 100%;
    background-color: rgb(194, 201, 202);
    border-radius: 5%;
}

.message-field {
    height: 30%;
    color: red;
    // border: 1px solid red;
}

.button-div-class {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    // border: 1px solid maroon;
    // background-color: rgb(16, 103, 118);
    background-color: rgb(17, 82, 93);
}

.button-class {
    height: 60%;
    width: 30%;
    border: 1px solid black;
    border-radius: 5%;
    background-color: rgb(194, 201, 202);
}

.formlink-div {
    height: 20%;
    width: 100%;
    background-color: rgb(17, 82, 93);
    display:flex;
    justify-content:center;
    align-items:center;

}